.out-of-search {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
}

.search {
  position: relative;
  z-index: 100;
}

.search__tags a,
.search__tags i  {
  margin-left: 10px;
}

.search__suggestions {
  position: absolute;
  z-index: 100;
  max-height: 300px;
  width: 100%;
  border: 1px solid gainsboro;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 6px 4px -3px rgba(0, 0, 0, .5);
  background: white;
}

.out-of-search--hidden,
.search__suggestions--hidden {
  visibility: hidden;
}

