.header {
  min-height: 70px; /* правильно ли??*/
  border-bottom: 1px solid gainsboro;
}

.logo img{
  margin: 0 10px;
  width: 60px;
  height: 60px;
}

.logo:hover {
  cursor: pointer;
}

.header-title {
  margin-left: 10px;
  font-size: 2em;
}

.auth {
  margin-right: 10px;
}