.formSignInUp {
  width: 20rem;  /*как правильно задать ширину для формы?*/
}

.formTitle {
  margin-bottom: 1rem;
  text-align: center;
}

.linkNewAcc {
  text-align: center;
}

.formErrors {
  color: darkred;
  font: .9em sans-serif;
  text-align: center;
}

div .has-error input{
  box-shadow: 0 0 10px darkred;
}