.Modal {
  position: absolute;
  top: 10vh;
  left: 5%;
  right: 7%;
  z-index: 102;
  bottom: 10vh;
  overflow-y: auto;
  background-color: white;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.5);
}

.add-img-panel {
  display: flex;
  width: 70%;
  margin: 0 15%;
}

.img-src,
.img-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px 10px;
}

.img-src__title,
.img-info__title{
  font-size: 1.5rem;
}

.drag-n-drop {
  height: 28rem;
  margin-top: 1rem;
  background-color: gainsboro;
}

.drag-n-drop__dropzone {
  height: 28rem;
}

.drag-n-drop__dropzone:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

.drag-n-drop__image {
  max-width: 100%;
  max-height: 28rem;
}

.img-info__tags {
  height: 5rem;
  background-color: gainsboro;
}

.new-line {
  margin: .5rem 0;
}

.img-info__add-tag {
  margin-top: 0.2rem;
}

.img-info__add-tag-btn {
  margin-left: .5rem;
}

.img-info__description {
  height: 7rem;
}

.img-info__publish-btn {
  width: 10rem;
}

/*-- media query --*/
@media (max-width: 1024px) {
  .add-img-panel {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 480px) {
  .add-img-panel {
    display: block;
  }

  .img-src,
  .img-info {
    width: 90%;
  }

  .img-src__title,
  .img-info__title{
    margin-bottom: 0;
  }

  .drag-n-drop__text {
    padding: 0 1rem;
    text-align: center;
  }

  .drag-n-drop {
    height: 8rem;
    width: 50%;
  }

  .drag-n-drop__dropzone {
    height: 8rem;
  }

  .drag-n-drop__image {
    max-width: 100%;
    max-height: 8rem;
  }
}
