.Modal {
  overflow-y: auto;
  position: absolute;
  top: 10vh;
  left: 5%;
  right: 7%;
  bottom: 10vh;
  background-color: white;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.formAddImgPanel {
  display: flex;
  width: 70%;
  margin: 0 15%;
}

.imgSrc, .imgInfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px 10px;
}

.titlePanel {
  font-size: 1.5rem;
}

.dragAndDropPanel {
  height: 28rem;
  margin-top: 1rem;
  background-color: gainsboro;
}

.files-dropzone-gallery {
  height: 28rem;
}

.files-dropzone-gallery:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.files-gallery-item {
  max-width: 100%;
  max-height: 28rem;
}

.tagsPanel {
  height: 5rem;
  background-color: gainsboro;
}

.new-line {
  margin: .5rem 0;
}

.rowTag {
  margin-top: 0.2rem;
}

.btnAddTag {
  margin-left: .5rem;
}

.textareaDescr {
  height: 7rem;
}

.btnPublish {
  width: 10rem;
}

/*---for tags---*/
.tag-item {
  display: inline-block;
  margin: 0 5px;
}

.tag-item-delete {
  padding: 0;
  margin-left: 3px;
  vertical-align: top;
  border: none;
}


@media (max-width: 1024px) {
  .formAddImgPanel {
    width: 100%;
    margin: 0;
  }
}


@media (max-width: 480px) {
  .formAddImgPanel {
    display: block;
  }
  .imgInfo, .imgSrc {
    width: 90%;
  }

  .titlePanel {
    margin-bottom: 0;
  }

  .textOnDropPanel {
    padding: 0 1rem;
    text-align: center;
  }

  .dragAndDropPanel {
    height: 8rem;
    width: 50%;
  }

  .files-dropzone-gallery {
    height: 8rem;
  }

  .files-gallery-item
  {
    max-width: 100%;
    max-height: 8rem;
  }
}
